<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal">
            <h2>{{ activeItem.title }}</h2>

            <div class="form-group" ng-repeat="(field, value) in collection.fields">
                <label class="col-lg-2 control-label">
                    {{ value.title }}
                </label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="activeItem[field]"/>
                </div>
            </div>
        </form>
    </div>
</div>