<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 id="myModalLabel">{{ collection | uppercase }} for {{ user.name }}</h4>
</div>
<div class="modal-body" chunk="user[collection].items | orderBy:'_updatedTs':true" chunk-size="15">
    <dl class="dl-horizontal">
        <dt>Count:</dt>
        <dd>{{ user[collection].count }}</dd>
        <dt>Last Activity:</dt>
        <dd>{{ user[collection].lastActivity * 1000 | date }}</dd>
    </dl>
    <table class="table table-bordered scroll-wrap">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in chunk">
            <td><a href="javascript:" ng-click="openItem(item)">{{ item.title }}</a></td>
            <td>{{ item._updatedTs * 1000| date:'medium' }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-glossy" ng-click="close()">Close</button>
</div>