.filter-list {
  background-color: $monoDarker;
  background: url(/img/bg-dark-textured.png) repeat;
  border-top: 1px solid $mono;
  display: block;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  @include box-sizing(border-box);

  .ui-widget-content {
    border: 1px solid rgba(0, 0, 0, 0.85);
    background: $monoLighter;
    @include box-shadow(#{inset 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255,255,255,0.19)});
  }

  .ui-widget-header {
    //@include gradient-vertical($monoLight, $mono);
    @include gradient-vertical($btnDangerBackgroundHighlight, $btnDangerBackground);
    //@include gradient-vertical($btnDangerBackground, $btnDangerBackgroundHighlight);
    //@include gradient-vertical($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
  }

  .ui-slider {
    position: relative;
    text-align: left;
    @include border-radius(15px);
    margin: $gutterWidth;

    .ui-state-default {
      background: $red;
      background: url(/img/slider-handle.png);
      @include box-shadow(0 1px 4px rgba(0,0,0,0.75));
    }
  }

  .ui-slider-horizontal {
    height: 10px;
  }

  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    cursor: pointer;
    outline: 0;
    margin-left: -8px;
    border: none;
    @include border-radius(50%);
  }

  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }

  .ui-slider-horizontal .ui-slider-handle {
    top: -5px;
  }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
  }

  .ui-state-focus, .ui-state-hover {
    border: none;

  }
}

.filter-list__item {
  margin-top: $gutterWidth / 2;

  > header {
    position: relative;
    cursor: pointer;
    background: $monoDark;
    width: 100%;
    border-top: 1px solid $mono;

    &:hover {
      > h3 {
        color: $monoLighter;
      }
    }

    &:active {
      background: darken($monoDark, 5%);
    }

    > h1, h2, h3 {
      margin: 0;
      line-height: 40px;
      font-size: 11px;
      font-weight: bolder;
      text-transform: uppercase;
      color: $monoLight;
      text-shadow: 0 1px $monoDarker;
      padding: 0 $gutterWidth;

      &.collapsed {
        color: $mono;
      }

      span {
        float: right;
      }
    }
  }

  > ul {
    list-style: none;
    margin-top: $gutterWidth / 2;
    clear: both;

    > li {
      position: relative;
      cursor: pointer;
      padding: $gutterWidth/4 $gutterWidth;
      @include transition(border ease 0.2s);

      &:hover, &.active {
        background: rgba(0, 0, 0, 0.3);
        > a {
          color: white;
        }
      }

      &.active {
        border-left: 5px solid $blue;
        @include box-shadow(#{inset 0 1px 1px rgba(0, 0, 0, 0.3)});
        > a {
          font-weight: bold;
        }
      }

      &:active {
        background: rgba(0, 0, 0, 0.4);
      }

      > a {
        color: $monoLighter;
        text-shadow: 0 1px $monoDark;
        text-decoration: none;
      }
    }
  }
}