$btnBorderRadius: 5px;

@mixin gloss($glossBr: $btnBorderRadius) {
  //@include box-shadow(inset 0 1px 3px rgba(255, 255, 255, 0.3));
  &::after {
    content: "";
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
    @include background-image(linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.1)));
    @include border-radius($glossBr);
    //@include transition(opacity 0.05s ease);
  }

  &:active {
    &::after {
      opacity: 0.3;
      //@include transition(all 0.05s ease);
    }
  }
}

@mixin tpBtnBg($color, $fontColor: $white) {
  color: $fontColor;
  background: $color;
  border: 1px solid $color;
  text-shadow: 0 -1px 1px darken($color, 25%);
  @include box-shadow(#{0px 3px 0px darken($color,15%), inset 0 1px 3px rgba(255, 255, 255, 0.3)});
  //@include transition(all 0.05s ease);


  &:hover:not(:active) {
    background: lighten($color, 5%);
    color: $fontColor;
    //@include transition(all 0.05s ease);
  }

  &:active {
    color: $fontColor;
    background: $color;
    border: 1px solid transparent;
    @include box-shadow(#{0px 1px 0px darken($color,15%), inset 0 1px 1px transparent});
    @include translate(0, 2px);
    //@include transition(all 0.05s ease);
  }
}

@mixin tpBtn($color: $baseColor, $fontColor: $white) {
  position: relative;
  display: inline-block;
  font-size: $baseFontSize;
  *border: 0;
  line-height: $baseLineHeight;
  text-align: center;
  //padding: $baseFontSize/2 $baseFontSize*1.5;
  cursor: pointer;
  @include border-radius($btnBorderRadius);
  @include box-sizing(border-box);
  @include tpBtnBg($color);
  outline: 0;
}


.btn {
  @include tpBtn($btnPrimaryBackground);

  &.btn-small {
    font-size: $baseFontSize - 2px;
    line-height: $baseLineHeight - 2px;
  }

  &.btn-large {
    font-size:  $baseFontSize + 2px;
    line-height: normal;
  }

  &.btn-primary {
    @include tpBtnBg($btnPrimaryBackground);
  }

  &.btn-warning {
    @include tpBtnBg($btnWarningBackground);
  }
  // Danger and error appear as red
  &.btn-danger {
    @include tpBtnBg($btnDangerBackground);
  }
  // Success appears as green
  &.btn-success {
    @include tpBtnBg($btnSuccessBackground);
  }
  // Info appears as a neutral blue
  &.btn-info {
    @include tpBtnBg($btnInfoBackground);
  }
  // Inverse appears as dark gray
  &.btn-inverse {
    @include tpBtnBg($gray);
  }

  &.btn-glossy {
    @include gloss();
  }

  .caret {
    margin-left: 5px;
  }
}

.navbar > .btn-group {
  margin: 7px;
}

// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;
  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}

.btn-group {
  & > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;

    &::after {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
   }

  & > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;

    &::after {
      border-radius: 0;
    }
  }

  & > .btn:last-child {
    &::after {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}