@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003209}}
.status-expired-gradient {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #a13123;
  background-image: -moz-linear-gradient(top, #b13627, #872a1d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b13627), to(#872a1d));
  background-image: -webkit-linear-gradient(top, #b13627, #872a1d);
  background-image: -o-linear-gradient(top, #b13627, #872a1d);
  background-image: linear-gradient(to bottom, #b13627, #872a1d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad3526', endColorstr='#83281d', GradientType=0);
  border-color: #872a1d #872a1d #481610;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #872a1d;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003496}}
.status-expired-gradient:hover, .status-expired-gradient:active, .status-expired-gradient.active, .status-expired-gradient.disabled, .status-expired-gradient[disabled] {
  color: white;
  background-color: #872a1d;
  *background-color: #722319;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003504}}
.status-expired-gradient:active, .status-expired-gradient.active {
  background-color: #5d1d14 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003213}}
.status-marketing-gradient {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5dac6d;
  background-image: -moz-linear-gradient(top, #68b577, #4d9e5d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68b577), to(#4d9e5d));
  background-image: -webkit-linear-gradient(top, #68b577, #4d9e5d);
  background-image: -o-linear-gradient(top, #68b577, #4d9e5d);
  background-image: linear-gradient(to bottom, #68b577, #4d9e5d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65b474', endColorstr='#4b9a5b', GradientType=0);
  border-color: #4d9e5d #4d9e5d #346a3f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #4d9e5d;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003496}}
.status-marketing-gradient:hover, .status-marketing-gradient:active, .status-marketing-gradient.active, .status-marketing-gradient.disabled, .status-marketing-gradient[disabled] {
  color: white;
  background-color: #4d9e5d;
  *background-color: #458c53;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003504}}
.status-marketing-gradient:active, .status-marketing-gradient.active {
  background-color: #3c7b49 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003217}}
.status-under-gradient {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f66d36;
  background-image: -moz-linear-gradient(top, #f77b48, #f55718);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f77b48), to(#f55718));
  background-image: -webkit-linear-gradient(top, #f77b48, #f55718);
  background-image: -o-linear-gradient(top, #f77b48, #f55718);
  background-image: linear-gradient(to bottom, #f77b48, #f55718);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f77744', endColorstr='#f55413', GradientType=0);
  border-color: #f55718 #f55718 #b83b08;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f55718;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003496}}
.status-under-gradient:hover, .status-under-gradient:active, .status-under-gradient.active, .status-under-gradient.disabled, .status-under-gradient[disabled] {
  color: white;
  background-color: #f55718;
  *background-color: #e94a0a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003504}}
.status-under-gradient:active, .status-under-gradient.active {
  background-color: #d04209 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003221}}
.status-unknown-gradient {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #404040, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#404040), to(#262626));
  background-image: -webkit-linear-gradient(top, #404040, #262626);
  background-image: -o-linear-gradient(top, #404040, #262626);
  background-image: linear-gradient(to bottom, #404040, #262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#242424', GradientType=0);
  border-color: #262626 #262626 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #262626;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003496}}
.status-unknown-gradient:hover, .status-unknown-gradient:active, .status-unknown-gradient.active, .status-unknown-gradient.disabled, .status-unknown-gradient[disabled] {
  color: white;
  background-color: #262626;
  *background-color: #1a1a1a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/compass_twitter_bootstrap\/_mixins\.scss}line{font-family:\00003504}}
.status-unknown-gradient:active, .status-unknown-gradient.active {
  background-color: #0d0d0d \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003226}}
.status-expired-solid {
  background: #9c3022 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003230}}
.status-marketing-solid {
  background: #468847 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003234}}
.status-under-solid {
  background: #f66930 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_rescour_variables\.scss}line{font-family:\00003238}}
.status-unknown-solid {
  background: #333333 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_footer\.scss}line{font-family:\000031}}
#Footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 20px;
  background-color: #eeeeee;
  border-top: 1px solid #bbbbbb;
  z-index: 3000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_footer\.scss}line{font-family:\0000312}}
#Footer p {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_footer\.scss}line{font-family:\0000316}}
#Footer p a {
  font-size: 10px;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\000033}}
.help {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\000036}}
.help i {
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000310}}
.help .help-error > i {
  color: #9c3022;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000314}}
.help .help-success > i {
  color: #468847;
}

/* Always hide the input help when it's pristine */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000320}}
input.ng-pristine + .help {
  display: none;
}

/* Show a blue border while an input has focus, make sure it overrides everything else */
/* Overriding Twitter Bootstrap cuz I don't agree we need to alarm the user while they're typing */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000326}}
input:focus, textarea:focus {
  color: black !important;
  border-color: rgba(82, 168, 236, 0.8) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
}

/* Help success should be shown when input is valid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000337}}
.ng-valid + .help > .help-success {
  display: inline-block;
  border-color: #3a7d34;
}

/* Help error should be hidden when input is valid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000343}}
.ng-valid + .help > .help-error {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000347}}
.ng-valid + .help::before {
  color: #3a7d34;
}

/* Help should show and be red when invalid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000352}}
.ng-invalid + .help {
  display: inline-block;
  border-color: #ec3f41;
}

/* Success message should be hidden when invalid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000358}}
.ng-invalid + .help > .help-success {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000362}}
.ng-invalid + .help::before {
  color: #ec3f41;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000366}}
.help ul {
  position: absolute;
  width: 300px;
  top: -35px;
  left: -20px;
  list-style: none;
  display: inline;
}

/* Default each bullet to be invalid with a red cross and text */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000376}}
.help li {
  line-height: 24px;
  color: #9c3022;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000381}}
.help li > .icon-exclamation-sign {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000385}}
.help li > .icon-ok-sign {
  display: none;
}

/* Set to green check and text when valid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000390}}
.help li.valid {
  color: #468847;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000394}}
.help li.valid > .icon-exclamation-sign {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ngform\.scss}line{font-family:\0000398}}
.help li.valid > .icon-ok-sign {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\0000312}}
ul.ribbon-nav {
  list-style: none;
  background: #333333;
  padding: 15px 0;
  position: relative;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\0000319}}
ul.ribbon-nav li {
  position: relative;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: whitesmoke;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\0000331}}
ul.ribbon-nav li.header {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  padding: 15px;
  color: whitesmoke;
  margin: 0 15px;
  background: #0088cc;
  border: 1px solid #005580;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1) inset 1px 0 0 rgba(255, 255, 255, 0.05);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1) inset 1px 0 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1) inset 1px 0 0 rgba(255, 255, 255, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\0000375}}
ul.ribbon-nav li > a {
  display: inline-block;
  width: 100%;
  color: whitesmoke;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\0000382}}
ul.ribbon-nav li > a::before {
  content: "+";
  top: 0;
  left: 0;
  position: absolute;
  color: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\0000393}}
ul.ribbon-nav li:hover > a, ul.ribbon-nav li.active > a {
  color: #cfcfcf;
  -webkit-transform: translate3d(15px, 0, 0);
  -moz-transform: translate3d(15px, 0, 0);
  -o-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\0000399}}
ul.ribbon-nav li:hover > a::before, ul.ribbon-nav li.active > a::before {
  color: whitesmoke;
  -webkit-transform: translate3d(-30px, 0, 0);
  -moz-transform: translate3d(-30px, 0, 0);
  -o-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\00003106}}
ul.ribbon-nav li:active {
  background: #0099e6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\00003111}}
ul.ribbon-nav li.active {
  background: #0088cc;
  font-weight: 600;
  margin-left: -14px;
  margin-right: -14px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\00003120}}
ul.ribbon-nav li.active > a {
  color: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\00003124}}
ul.ribbon-nav li.active:hover {
  background: #0099e6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\00003128}}
ul.ribbon-nav li.active:hover::before {
  background: #0099e6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_ribbon_nav\.scss}line{font-family:\00003132}}
ul.ribbon-nav li.active:hover > a::after {
  border-left: 15px solid #0099e6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000379}}
.btn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  *border: 0;
  line-height: 20px;
  text-align: center;
  padding: 7px 21px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  color: white;
  background: #0088cc;
  border: 1px solid #0088cc;
  text-shadow: 0 -1px 1px #00334d;
  -webkit-box-shadow: 0px 2px 1px #006699, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 1px #006699, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px #006699, inset 0 1px 3px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\000034}}
.btn::after {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000326}}
.btn:hover:not(:active) {
  background: #0099e6;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000331}}
.btn:active {
  color: white;
  background: #0088cc;
  -webkit-box-shadow: 0px 1px 1px #006699, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px #006699, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px #006699, inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000336}}
.btn:active::after {
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000344}}
.btn:hover {
  color: white;
  text-decoration: none;
  border-color: #0088cc !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000351}}
.btn:active {
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000372}}
.btn i {
  font-size: 12px;
  padding-left: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000382}}
.btn.btn-small {
  font-size: 12px;
  line-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000387}}
.btn.btn-large {
  font-size: 16px;
  line-height: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000392}}
.btn.btn-primary {
  color: white;
  background: #0088cc;
  border: 1px solid #0088cc;
  text-shadow: 0 -1px 1px #00334d;
  -webkit-box-shadow: 0px 2px 1px #006699, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 1px #006699, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px #006699, inset 0 1px 3px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\000034}}
.btn.btn-primary::after {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000326}}
.btn.btn-primary:hover:not(:active) {
  background: #0099e6;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000331}}
.btn.btn-primary:active {
  color: white;
  background: #0088cc;
  -webkit-box-shadow: 0px 1px 1px #006699, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px #006699, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px #006699, inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000336}}
.btn.btn-primary:active::after {
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000344}}
.btn.btn-primary:hover {
  color: white;
  text-decoration: none;
  border-color: #0088cc !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000351}}
.btn.btn-primary:active {
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000397}}
.btn.btn-warning {
  color: white;
  background: #f77b48;
  border: 1px solid #f77b48;
  text-shadow: 0 -1px 1px #b83b08;
  -webkit-box-shadow: 0px 2px 1px #f55718, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 1px #f55718, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px #f55718, inset 0 1px 3px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\000034}}
.btn.btn-warning::after {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000326}}
.btn.btn-warning:hover:not(:active) {
  background: #f88c61;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000331}}
.btn.btn-warning:active {
  color: white;
  background: #f77b48;
  -webkit-box-shadow: 0px 1px 1px #f55718, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px #f55718, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px #f55718, inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000336}}
.btn.btn-warning:active::after {
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000344}}
.btn.btn-warning:hover {
  color: white;
  text-decoration: none;
  border-color: #f77b48 !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000351}}
.btn.btn-warning:active {
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003102}}
.btn.btn-danger {
  color: white;
  background: #b13627;
  border: 1px solid #b13627;
  text-shadow: 0 -1px 1px #481610;
  -webkit-box-shadow: 0px 2px 1px #872a1d, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 1px #872a1d, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px #872a1d, inset 0 1px 3px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\000034}}
.btn.btn-danger::after {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000326}}
.btn.btn-danger:hover:not(:active) {
  background: #c63d2b;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000331}}
.btn.btn-danger:active {
  color: white;
  background: #b13627;
  -webkit-box-shadow: 0px 1px 1px #872a1d, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px #872a1d, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px #872a1d, inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000336}}
.btn.btn-danger:active::after {
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000344}}
.btn.btn-danger:hover {
  color: white;
  text-decoration: none;
  border-color: #b13627 !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000351}}
.btn.btn-danger:active {
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003107}}
.btn.btn-success {
  color: white;
  background: #68b577;
  border: 1px solid #68b577;
  text-shadow: 0 -1px 1px #346a3f;
  -webkit-box-shadow: 0px 2px 1px #4d9e5d, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 1px #4d9e5d, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px #4d9e5d, inset 0 1px 3px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\000034}}
.btn.btn-success::after {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000326}}
.btn.btn-success:hover:not(:active) {
  background: #79be87;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000331}}
.btn.btn-success:active {
  color: white;
  background: #68b577;
  -webkit-box-shadow: 0px 1px 1px #4d9e5d, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px #4d9e5d, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px #4d9e5d, inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000336}}
.btn.btn-success:active::after {
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000344}}
.btn.btn-success:hover {
  color: white;
  text-decoration: none;
  border-color: #68b577 !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000351}}
.btn.btn-success:active {
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003112}}
.btn.btn-info {
  color: white;
  background: #5bc0de;
  border: 1px solid #5bc0de;
  text-shadow: 0 -1px 1px #1f7e9a;
  -webkit-box-shadow: 0px 2px 1px #31b0d5, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 1px #31b0d5, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px #31b0d5, inset 0 1px 3px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\000034}}
.btn.btn-info::after {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000326}}
.btn.btn-info:hover:not(:active) {
  background: #70c8e2;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000331}}
.btn.btn-info:active {
  color: white;
  background: #5bc0de;
  -webkit-box-shadow: 0px 1px 1px #31b0d5, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px #31b0d5, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px #31b0d5, inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000336}}
.btn.btn-info:active::after {
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000344}}
.btn.btn-info:hover {
  color: white;
  text-decoration: none;
  border-color: #5bc0de !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000351}}
.btn.btn-info:active {
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003117}}
.btn.btn-inverse {
  color: white;
  background: #999999;
  border: 1px solid #999999;
  text-shadow: 0 -1px 1px #595959;
  -webkit-box-shadow: 0px 2px 1px gray, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 1px gray, inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px gray, inset 0 1px 3px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\000034}}
.btn.btn-inverse::after {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000326}}
.btn.btn-inverse:hover:not(:active) {
  background: #a6a6a6;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000331}}
.btn.btn-inverse:active {
  color: white;
  background: #999999;
  -webkit-box-shadow: 0px 1px 1px gray, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px gray, inset 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px gray, inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000336}}
.btn.btn-inverse:active::after {
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000344}}
.btn.btn-inverse:hover {
  color: white;
  text-decoration: none;
  border-color: #999999 !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\0000351}}
.btn.btn-inverse:active {
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003122}}
.btn .caret {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003127}}
.navbar > .btn-group {
  margin: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003135}}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003138}}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003146}}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003150}}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003154}}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003161}}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003165}}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle)::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003171}}
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003174}}
.btn-group > .btn:not(:first-child):not(:last-child)::after {
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/_thotpod_btn\.scss}line{font-family:\00003180}}
.btn-group > .btn:last-child::after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000316}}
.market-details input {
  display: inline-block;
  width: 100%;
  margin-bottom: 0 !important;
  border: none;
  background: #999999;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 40px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000332}}
.market-details input:focus {
  background: white !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000336}}
.market-details input:hover:not(:focus) {
  background: #b3b3b3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000341}}
.loading-background {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: #eeeeee;
  z-index: 5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000345}}
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000355}}
.loading-container h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  color: #5f5f5f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000362}}
.loading-container p {
  margin-top: 10px;
  font-size: 14px;
  color: #797979;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000368}}
.loading-container .loading-icon {
  text-shadow: #666666 0 -1px 0;
  color: #5f5f5f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000373}}
.loading-container .failure-icon {
  text-shadow: #33100b 0 -1px 0;
  color: #9c3022;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000380}}
.origami-left {
  position: absolute;
  top: 0;
  left: 0;
  background: url(/img/origami_left.png) top left no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\0000390}}
.origami-right {
  position: absolute;
  top: 0;
  right: 0;
  background: url(/img/origami_right.png) top right no-repeat;
  width: 817px;
  height: 547px;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003101}}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

/* Scroll Bar */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003106}}
::-webkit-scrollbar, ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003112}}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background-color: #666666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) -1px 0 7px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) -1px 0 7px inset;
  box-shadow: rgba(0, 0, 0, 0.05) -1px 0 7px inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003118}}
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003122}}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-corner {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003126}}
body {
  min-height: 100%;
  margin: 0;
  background-color: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003132}}
header {
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003134}}
header .navbar {
  margin-bottom: 0;
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003137}}
header .navbar .navbar-brand {
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003144}}
.roomba-wrap > .row {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003148}}
.roomba-wrap .listing-list-item {
  cursor: pointer;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003152}}
.roomba-wrap .listing-list-item:hover {
  background-color: #e1e1e1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003156}}
.roomba-wrap .listing-list-item i {
  color: #999999;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003160}}
.roomba-wrap .listing-list-item i:hover {
  color: #8c8c8c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003166}}
.roomba-wrap .listing-list-item .list-item-title:hover {
  text-decoration: underline;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003172}}
.roomba-wrap .listing-list-item .progress {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003177}}
.roomba-wrap .filter-actions {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003182}}
.roomba-wrap .header-actions {
  position: relative;
  background-color: #9a9a9a;
  background-image: -moz-linear-gradient(top, #9e9e9e, #949494);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9e9e9e), to(#949494));
  background-image: -webkit-linear-gradient(top, #9e9e9e, #949494);
  background-image: -o-linear-gradient(top, #9e9e9e, #949494);
  background-image: linear-gradient(to bottom, #9e9e9e, #949494);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9c9c', endColorstr='#919191', GradientType=0);
  margin-bottom: 15px;
  padding: 15px 25px;
  -webkit-box-shadow: 0 1px white, inset 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px white, inset 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px white, inset 0 1px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003190}}
.roomba-wrap .footer-actions {
  position: relative;
  margin-top: 15px;
  padding: 15px 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003209}}
.scroll-container {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003212}}
.scroll-container .row {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apledger\/Rescour\/roomba\/src\/styles\/main\.scss}line{font-family:\00003216}}
.scroll-container .scroll-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}
