.input-dd {
  position: relative;
  margin: $gutterWidth;
}

input.input-dd__input {
  display: inline-block;
  width: 100%;
  margin-bottom: 0 !important;
  border: none;
  background: $monoLighter;
  font-size: 12px;
  font-weight: bold;
  color: $monoDarker;
  padding-left: 15px;
  padding-right: 40px;
  height: 40px !important;
  @include box-shadow(none !important);
  @include box-sizing(border-box !important);
  @include border-radius($borderRadius);
  z-index: 1;

  &:focus {
    background: $white !important;
  }

  &:hover:not(:focus) {
    background: $monoLight;
  }
}


.input-dd__overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: $monoDarker;
  z-index: 2;
  //height: 100%;
  padding: 10px 15px;
  cursor: pointer;
  @include border-radius($borderRadius);
  @include box-sizing(border-box);
  text-align: center;
}

.input-dd__btn {
  position: absolute;
  padding: 5px 10px;
  background: $monoDark;
  color: $monoLighter;
  z-index: 3;
  @include border-radius($borderRadius);

  &, i {
    cursor: pointer;
  }

  &:hover {
    background: $monoDarker;
  }

  &:active {
    @include box-shadow(inset 0px 1px darken($monoDarker, 7%));
    background: darken($monoDarker, 5%);
  }
}

.input-dd__btn--left {
  top: 5px;
  left: 5px;
}

.input-dd__btn--right {
  top: 5px;
  right: 5px;
}


.input-dd__overlay--blue {
  background: $blue;
  color: $white;

  &:hover {
    background: lighten($blue, 5%);
  }
}

.input-dd__overlay--gray {
  background: $monoLighter;
}

.input-dd__overlay--default {
  cursor: default;
  text-align: left;
}

.input-dd__input-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

.input-dd.open {
  > .dd-menu {
    display: block;
  }
}

.dd-menu {
  position: absolute;
  top: 100%;
  background: $white;
  width: 100%;
  z-index: $zindexDropdown;
  @include border-radius(0 0 $borderRadius $borderRadius);
  @include box-shadows(0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2));
  padding: 10px 0;
  right: 0;
  display: none;

  > .divider {
    @include nav-divider($white, $monoLighter);
  }
}

.dd-menu__item {
  padding: 5px 25px 5px 15px;
  word-wrap: break-word;

  > a {
    text-decoration: none;
    color: $monoDarker;
  }

  > i {
    color: $monoDark;
    font-size: 12px;
    margin-right: 10px;
  }

  &:hover {
    background: $blue;
    cursor: pointer;

    .input-dropdown-item-action {
      opacity: 1;
      right: 5px;
      //@include translate3d(-5px, 0, 0);
      @include transition(all 0.2s ease);
    }

    a, i {
      color: $white;
    }
  }

  &.active {
    background: $blue;

    > i {
      font-weight: bold;
      color: $white;
    }
    > a {
      font-weight: bold;
      color: $white;
    }
  }
}

.dd-menu__btn {
  position: absolute;
  top: 5px;
  right: 0;
  opacity: 0;
  width: 20px;

  > i {
    padding: 5px 0 5px 5px;
  }

  &:hover {
    background: $red;

    > i {
      color: $white;
    }
  }

  &:active {
    background: darken($red, 10%);
  }
}
