<header>
    <div class="navbar">
        <ul class="nav navbar-nav">
            <li class="navbar-brand"><img src="/img/favicon.png" height="30" alt=""/></li>
            <li class="active"><a href="/market/listings">Listings</a></li>
            <li></li>
        </ul>
        <!--<div class="header-search col-lg-2">-->
            <!--<input type="text" placeholder="Search by {{ activeSearch.title }}" ng-model="searchBy[activeSearch.key]"/>-->
            <!--<i class="icon-search"></i>-->

            <!--<div class="input-dropdown-btn" dropdown-toggle><i class="icon-caret-down"></i></div>-->
            <!--<ul class="input-dropdown-menu">-->
                <!--<li ng-click="setSearchCriteria()">Any</li>-->
                <!--<li ng-class="{'active': field.key == activeSearch.key}"-->
                    <!--ng-repeat="field in collection.fields | orderBy: '-weight'"-->
                    <!--ng-click="setSearchCriteria(field)">-->
                    <!--<a href="javascript:">{{field.title}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-inverse dropdown-toggle hint--left hint--bounce" data-hint="Tags">
                <i class="icon-tags"></i>
            </button>
            <ul class="dropdown-menu">
                <li ng-class="{'active': isActive}" ng-repeat="(tag, isActive) in tags"><a
                        href="javascript:" ng-click="changeTag(tag)">{{ tag }}</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="roomba-wrap">
<div class="row">
<div ui-if="!marketView.collapseFilters" class="col-lg-2 market-filter" ng-controller="MarketFilterCtrl">
    <div class="row">
        <div class="col-lg-12 header-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle hint--right hint--info hint--bounce" ng-click="marketView.collapseFilters = true" data-hint="Collapse">
                    <i class="icon-remove"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row scroll-container">
        <div class="scroll-wrap">
            <div class="header-search col-lg-12">
                <input type="text" placeholder="Search by {{ activeSearch.title }}" ng-model="searchBy[activeSearch.key]"/>
                <i class="icon-search"></i>

                <div class="input-dropdown-btn" dropdown-toggle><i class="icon-caret-down"></i></div>
                <ul class="input-dropdown-menu">
                    <li ng-click="setSearchCriteria()"><a href="javascript:">Any</a></li>
                    <li ng-class="{'active': field.key == activeSearch.key}"
                        ng-repeat="field in collection.fields | orderBy: '-weight'"
                        ng-click="setSearchCriteria(field)">
                        <a href="javascript:">{{field.title}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-12">

                <ul ng-repeat="discreet in dimensions.discreet" class="ribbon-nav">
                    <li class="header">{{discreet.title}}</li>
                    <li ng-repeat="value in discreet.values"
                        ng-class="{'active': value.isSelected}"
                        ng-click="toggleDiscreet(discreet, value)"><a href="javascript:">{{value.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-class="(marketView.collapseFilters && 'col-lg-6' || 'col-lg-4')" class="market-list" ng-controller="MarketListCtrl">
    <div class="row">
        <div class="col-lg-12 header-actions">
            <div class="btn-group">
                <button type="button" ui-if="marketView.collapseFilters" class="btn btn-info hint--bottom hint--info hint--bounce" ng-click="marketView.collapseFilters = false" data-hint="Expand Search">
                    <i class="icon-search"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-inverse dropdown-toggle hint--top hint--info hint--bounce" data-hint="Sort">
                    <i class="icon-sort"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-class="{'active': isActive}" ng-repeat="(sortField, isActive) in sortFields">
                        <a href="javascript:" ng-click="setSortField(sortField)">{{ sortField }}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group pull-right">
                <button class="btn hint--top hint--info hint--bounce" data-hint="Publish Selected">
                    <i class="icon-cloud-upload"></i>
                </button>
                <button class="btn btn-success hint--bottom hint--info hint--bounce" data-hint="Save Selected">
                    <i class="icon-save"></i>
                </button>
                <button class="btn btn-danger hint--top hint--info hint--bounce" data-hint="Un Publish Selected">
                    <i class="icon-cloud"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="scroll-container">
        <div class="scroll-wrap" chunk="items | limitVisible | orderBy:sortBy | filter:searchBy[activeSearch.key]" chunk-size="100">
            <div class="row listing-list-item" ng-repeat="item in chunk">
                <div class="col-lg-1 col-sm-1 col-1"><input type="checkbox"/></div>
                <div class="col-lg-9 col-sm-6 col-6 list-item-title" ng-click="openDetails(item.id)">
                    {{item.title}}
                </div>
                <div class="col-lg-2 col-sm-3 col-3">
                    <div class="progress progress-striped">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 market-details" ng-controller="DetailsCtrl">
<div class="row">
    <div class="col-lg-12 header-actions">
        <div class="btn-group pull-right">
            <button class="btn btn-glossy" ng-click="saveItem(activeItem)" ng-class="{'disabled': !activeItem}">
                Save
            </button>
        </div>
    </div>
</div>

<div class="scroll-container row" ng-show="activeItem" spinner="activeItem.$spinner" spinner-size="large">
<div class="scroll-wrap">

<!--Begin Fields-->
<div class="row">
    <div class="details-header">
        <h3 class="hint--bottom" data-hint="Copy all Raw" ng-click="copyAllRaw(activeItem, activeItemResources)">
            {{
            activeItem.title }}</h3>
    </div>
    <form class="form-horizontal fields-editor">
        <div class="form-group" ng-repeat="field in collection.fields | orderBy: '-weight'">

            <label class="col-lg-2 control-label">
                {{ field.title }}
            </label>

            <!--Regular fields-->
            <div class="col-lg-10" ui-if="!field.fields">
                <div class="row">
                    <div class="col-lg-10">
                        <input type="text" class="form-control"
                               ng-hide="activeItem.raw[field.key].showRaw"
                               ng-model="activeItem.edited[field.key]"/>
                        <input type="text" class="form-control status-text-{{ activeItem.raw[field.key].status }}"
                               ng-show="activeItem.raw[field.key].showRaw"
                               ng-model="activeItem.raw[field.key].value"/>
                    </div>

                    <button class="btn col-lg-1 hint--left hint--bounce"
                            ng-click="copyFromRaw(activeItem, field.key)"
                            ng-class="classRawField(activeItem.raw[field.key])"
                            ng-hide="isRawNull(activeItem.raw[field.key])"
                            ng-mouseover="activeItem.raw[field.key].showRaw = true"
                            ng-mouseleave="activeItem.raw[field.key].showRaw = false"
                            data-hint="Copy">
                        <i ng-hide="activeItem.raw[field.key].copied" class="icon-inbox"></i>
                        <i ng-show="activeItem.raw[field.key].copied" class="icon-check-sign"></i>
                    </button>
                </div>
            </div>

            <!--Address and other subfield-->
            <div class="col-lg-10" ui-if="field.fields">
                <div class="form-group" ng-repeat="subfield in field.fields">
                    <div class="col-lg-10">
                        <input type="text" class="form-control"
                               ng-hide="activeItem.raw[field.key][subfield.key].showRaw"
                               ng-model="activeItem.edited[field.key][subfield.key]"
                               placeholder="{{ subfield.title }}"/>
                        <input type="text"
                               class="form-control status-text-{{ activeItem.raw[field.key][subfield.key].status }}"
                               ng-show="activeItem.raw[field.key][subfield.key].showRaw"
                               placeholder="{{ subfield.title }}"
                               ng-model="activeItem.raw[field.key][subfield.key].value"/>
                    </div>
                    <button class="btn col-lg-1 hint--left hint--bounce"
                            ng-class="classRawField(activeItem.raw[field.key][subfield.key])"
                            ng-click="copySubfieldFromRaw(activeItem, field.key, subfield.key)"
                            ng-hide="isRawNull(activeItem.raw[field.key][subfield.key])"
                            ng-mouseover="activeItem.raw[field.key][subfield.key].showRaw = true"
                            ng-mouseleave="activeItem.raw[field.key][subfield.key].showRaw = false"
                            data-hint="Copy">
                        <i ng-hide="activeItem.raw[field.key][subfield.key].copied" class="icon-inbox"></i>
                        <i ng-show="activeItem.raw[field.key][subfield.key].copied" class="icon-check-sign"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--End Fields-->

<!-- Begin Resources-->
<div class="row">
    <div class="col-lg-12">
        <div class="group-editor" ng-repeat="resourceConfig in collection.resources | orderBy: '-weight'"
             ng-controller="ResourceCtrl">
            <h4>{{ resourceConfig.title }}</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="table-icon-action table-icon-success hint--right"
                        data-hint="Add {{ resourceConfig.title }} ( &#9166; )"
                        ng-click="addResource(resourceConfig.key, newResource)">

                        <i class="icon-plus-sign"></i>
                    </th>
                    <th ng-repeat="resourceField in resourceConfig.fields">
                        <input type="text" ng-model="newResource[resourceField.key]"
                               placeholder="{{resourceField.title}}" focus-first-on="ResourceAdded"
                               ui-keypress="{'enter': 'addResource(resourceConfig.key, newResource)'}"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="itemResource in activeItemResources[resourceConfig.key]">
                    <td class="table-icon-action table-icon-error"
                        ng-click="removeResource(resourceConfig.key, itemResource)">
                        <i class="icon-remove-sign"></i>
                    </td>
                    <td ng-repeat="resourceField in resourceConfig.fields">

                        <div class="cell-view" ng-hide="itemResource.raw[resourceField.key].showRaw">
                            <input type="text" ng-model="itemResource.edited[resourceField.key]"/>
                            <img ui-if="resourceConfig.key == 'images' && resourceField.key == 'url'"
                                 ng-src="{{ itemResource.edited[resourceField.key] }}" alt=""/>
                        </div>

                        <div class="cell-view" ng-show="itemResource.raw[resourceField.key].showRaw">
                            <input class="input-overlay status-text-{{itemResource.raw[resourceField.key].status}}"
                                   type="text" ng-model="itemResource.raw[resourceField.key].value"/>
                            <img ui-if="resourceConfig.key == 'images' && resourceField.key == 'url'"
                                 ng-src="{{ itemResource.raw[resourceField.key].value }}" alt=""/>
                        </div>

                        <div class="table-input-action hint--top hint--bounce"
                             ng-class="classRawField(itemResource.raw[resourceField.key])"
                             ng-hide="isRawNull(itemResource.raw[resourceField.key])"
                             ng-mouseover="itemResource.raw[resourceField.key].showRaw = true"
                             ng-mouseleave="itemResource.raw[resourceField.key].showRaw = false"
                             ng-click="copyFromRaw(itemResource, resourceField.key)"
                             data-hint="Copy">
                            <i ng-hide="itemResource.raw[resourceField.key].copied" class="icon-inbox"></i>
                            <i ng-show="itemResource.raw[resourceField.key].copied" class="icon-check-sign"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Resources-->

<!-- Begin Models-->
<div class="row">
    <div class="col-lg-12">

        <div class="group-editor model-editor"
             ng-repeat="modelConfig in collection.models | orderBy: '-weight'"
             ng-controller="ModelCtrl">
            <h4 ng-click="showRaw()"
                class="hint--right" data-hint="Show {{ (modelView.showRaw && 'Edited' || 'Raw') }}">
                <span ng-show="modelView.showRaw">Raw</span>
                {{ modelConfig.title }}
            </h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="table-icon-action table-icon-success hint--right"
                        ng-click="addModel(activeItem, modelConfig.key, newModel)"
                        data-hint="Add {{ modelConfig.title }} ( &#9166; )">
                        <i class="icon-plus-sign"></i>
                    </th>
                    <th ng-repeat="modelFieldConfig in modelConfig.fields">
                        <input focus-first-on="ModelAdded" type="text" ng-model="newModel[modelFieldConfig.key]"
                               placeholder="{{modelFieldConfig.title}}"
                               ui-keypress="{'enter': 'addModel(activeItem, modelConfig.key, newModel)'}"/>
                    </th>
                </tr>
                </thead>
                <tbody>

                <!--Edited-->
                <tr ng-repeat="editedModel in activeItem.edited[modelConfig.key]"
                    ng-hide="modelView.showRaw">
                    <td class="table-icon-action table-icon-error hint--right"
                        data-hint="Remove"
                        ng-click="removeModel(activeItem, modelConfig.key, editedModel)">
                        <i class="icon-remove-sign"></i>
                    </td>
                    <td ng-repeat="modelFieldConfig in modelConfig.fields">
                        <input type="text" ng-model="editedModel[modelFieldConfig.key]"/>
                    </td>
                </tr>

                <!--Raw-->
                <tr ng-repeat="rawModel in activeItem.raw[modelConfig.key]"
                    ng-show="modelView.showRaw">
                    <td class="table-icon-action table-icon-info hint--right"
                        ng-hide="rawModel.copied"
                        data-hint="Copy"
                        ng-click="copyModelFromRaw(activeItem, modelConfig.key, rawModel)">
                        <i class="icon-inbox"></i>
                    </td>
                    <td class="table-icon-action hint--right"
                        data-hint="Copied!"
                        ng-show="rawModel.copied">
                        <i class="icon-check-sign"></i>
                    </td>
                    <td ng-repeat="modelFieldConfig in modelConfig.fields">
                        {{ rawModel[modelFieldConfig.key].value }}

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Models-->


</div>
</div>
</div>
</div>
</div>